{% extends 'base.html' %}

{% block title %}
<div class="container">
    {{ item.keys() }}
    <br>
    {{ item['counter_key'] }}
    <br>
    {{ item[2] }}
    <br>
    {{ item[3] }}
    <br>
    {{ item[4] }}
    <br>
    {{ item[5] }}
    <br>
    {{ item[6] }}
    <br>
    {{ item[7] }}
    <br>
    {{ item[8] }}
    <br>

    <table class="table table-borderless">
        <tr>
            <td><a href="{{ item['counter_key'] }}?min=15">15m</a></td>
            <td><a href="{{ item['counter_key'] }}?min=30">30m</a></td>
            <td><a href="{{ item['counter_key'] }}?h=1">1h</a></td>
            <td><a href="{{ item['counter_key'] }}?h=2">2h</a></td>
            <td><a href="{{ item['counter_key'] }}?h=3">3h</a></td>
            <td><a href="{{ item['counter_key'] }}?h=6">6h</a></td>
            <td><a href="{{ item['counter_key'] }}?h=8">8h</a></td>
            <td><a href="{{ item['counter_key'] }}?h=12">12h</a></td>
            <td><a href="{{ item['counter_key'] }}?h=16">16h</a></td>
            <td><a href="{{ item['counter_key'] }}?d=1">1d</a></td>
            <td><a href="{{ item['counter_key'] }}?d=2">3d</a></td>
            <td><a href="{{ item['counter_key'] }}?d=7">7d</a></td>
            <td><a href="{{ item['counter_key'] }}?d=14">14d</a></td>
            <td><a href="{{ item['counter_key'] }}?m=1">1m</a></td>
            <td><a href="{{ item['counter_key'] }}?m=3">3m</a></td>
            <td><a href="{{ item['counter_key'] }}?m=6">6m</a></td>
            <td><a href="{{ item['counter_key'] }}?y=1">1y</a></td>
            <td><a href="{{ item['counter_key'] }}?y=1">All</a></td>
        </tr>
        <tr>
            <td><p><<</p></td>
            <td><a href="{{ item['counter_key'] }}?by=1">1y</a></td>
            <td><a href="{{ item['counter_key'] }}?bm=6">6m</a></td>
            <td><a href="{{ item['counter_key'] }}?bm=1">1m</a></td>
            <td><a href="{{ item['counter_key'] }}?bd=7">7d</a></td>
            <td><a href="{{ item['counter_key'] }}?bd=1">1d</a></td>
            <td><a href="{{ item['counter_key'] }}?bh=12">12h</a></td>
            <td><a href="{{ item['counter_key'] }}?bh=1">1h</a></td>
            <td><a href="{{ item['counter_key'] }}?bmin=5">5m</a></td>
            <td><a href="{{ item['counter_key'] }}?amin=5">5m</a></td>
            <td><a href="{{ item['counter_key'] }}?ah=1">1h</a></td>
            <td><a href="{{ item['counter_key'] }}?ah=12">12h</a></td>
            <td><a href="{{ item['counter_key'] }}?ad=1">1d</a></td>
            <td><a href="{{ item['counter_key'] }}?ad=7">7d</a></td>
            <td><a href="{{ item['counter_key'] }}?am=1">1m</a></td>
            <td><a href="{{ item['counter_key'] }}?am=6">6m</a></td>
            <td><a href="{{ item['counter_key'] }}?ay=1">1y</a></td>
            <td><p>>></p></td>
        </tr>
    </table>

    <img src="data:image/png;base64, {{ chart }}" alt="Red dot" />
</div>
{% endblock %}

{% block body %}
<title>FlaskBlog</title>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
{% endblock %}
