{% extends 'base.html' %}

{% block title %}
<title>FlaskBlog</title>
{% endblock %}

{% block body %}
<h1>Counters page</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Key</th>
        <th scope="col">Interval</th>
        <th scope="col">Multiplicator</th>
        <th scope="col">Unit</th>
        <th scope="col">Delta</th>
        <th scope="col">Active</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr>
        <td><a href="/counter/{{ row[1] }}">{{ row[1] }}</a></td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4]|e }}</td>
        <td>
            {% if row[5] == 1 %}
            <input type="checkbox" checked="1" onclick="return false;">
            {% else %}
            <input type="checkbox" onclick="return false;">
            {% endif %}
        </td>
        <td>
            {% if row[6] == 1 %}
            <input type="checkbox" checked="1" onclick="return false;">
            {% else %}
            <input type="checkbox" onclick="return false;">
            {% endif %}
        </td>
        <td>
            <a href="/edit-counter/{{ row[0] }}">E</a>
            <a href="/delete-counter/{{ row[0] }}">D</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Create counter
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/save-counter" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="counter_key" class="form-label">Counter key</label>
                        <input id="counter_key" class="form-control" name="counter_key">
                    </div>
                    <div class="mb-3">
                        <label for="interval" class="form-label">Interval</label>
                        <input id="interval" class="form-control" name="interval" value="20">
                    </div>
                    <div class="mb-3">
                        <label for="multiplicator" class="form-label">Multiplicator</label>
                        <input id="multiplicator" class="form-control" name="multiplicator" value="1.0">
                    </div>
                    <div class="mb-3">
                        <label for="unit" class="form-label">Unit</label>
                        <input id="unit" class="form-control" name="unit">
                    </div>
                    <div>
                        <input id="delta" class="form-check-input" type="checkbox" name="delta">
                        <label for="delta" class="form-label">Delta</label>
                    </div>
                    <div>
                        <input id="enabled" class="form-check-input" type="checkbox" name="enabled" checked="">
                        <label for="enabled" class="form-label">Enabled</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
{% endblock %}
